
.slider {
  width: 100%;
  height: 400px;
}

.nonDraggableImage {
    -webkit-user-drag: none;
}

.dot {
  margin: 10px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid black;
  transition: .15s;
}

.current {
  background: black;
}

 .project-container {
   width: 100%;
   position: absolute;
 }

.project {
  max-width: 100%;
  border: 1px solid black;
}

.arrow {
  height: 50px;
  position: relative;
  display: inline-block;
  float: right;
  z-index: 1;
}

.forward:hover {
  -webkit-transform: scale(1.1);
}

.backward {
  -webkit-transform: scaleX(-1);
  float: left;
}

.backward:hover {
  -webkit-transform: scaleX(-1.1) scaleY(1.1);
}

.project-title {
  text-align: center;
  font-size: 30px;
  margin: 20px;
}

.description {
  h3 {
    font-style: italic;
    font-weight: 500;
  }
  * {
    margin: 20px;
  }
}

.nav-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.dots {
  text-align: center;
  li {
    display: inline-block;
  }
}

.about-header {
  text-align: center;
  margin-top: 4em;
  margin-bottom: 2em;
}

.portrait {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  border: 1px solid black;
}

.about-p {
  margin: 2em;
}

.contact {
  position:relative;
  text-align: center;
  margin-top: 5em;
  * {
    margin: 2em;
    text-decoration: none;
    display: block;
    color: black;
  }
}
