@media (min-width: 600px) {
  #layer-one, #layer-two {
    width: 80%;
    top: 50%;
  }
  .project, .description {
    width: 50%;
    -webkit-transform: translateX(50%);
  }
  .small {
    -webkit-animation-name: shrink;
  }
  .header {
    margin-bottom: 0;
  }
  .nav-list {
    float: right;
    margin-right: 20px;
    #menu * {
      margin-top: 7%;
    }
  }
  .arrow {
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
