<!DOCTYPE html>
<html lang="en" ng-app="portfolio">
<head>
  <meta charset="UTF-8">
  <title>Matt Haxby</title>
  <link rel="stylesheet" href="style.css">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-touch.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-animate.js'></script>
</head>
<body ng-cloak ng-controller="MainController" ontouchstart="" onmouseover="">
  <logo-directive></logo-directive>
  <div class="projects" >
    <img ng-repeat="project in projects" ng-hide="!isCurrentProjectIndex($index)" ng-swipe-right="nextProject()" ng-swipe-left="prevProject()" class="project swipe-animation nonDraggableImage" src="{{project.image}}">
    <a class="arrow prev" href="#" ng-click="nextProject()">next</a>
    <a class="arrow next" href="#" ng-click="prevProject()">last</a>
    <nav class="nav">
      <div class="wrapper">
          <ul class="dots">
              <li class="dot" ng-repeat="project in projects">
                  <a href="#" ng-class="{'active':isCurrentProjectIndex($index)}"
                    ng-click="setCurrentProjectIndex($index);">{{project.description}}</a></li>
          </ul>
      </div>
    </nav>
  </div>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/logo.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/routes.js"></script>
  <script src="js/services.js"></script>
  <script src="js/animations.js"></script>
</body>
</html>
