<h1 class="about-header">Developer | Designer | Maker</h1>
<img class="portrait" src="images/me.jpg" alt="me">
<p class="about-p">Ever since I can remember I loved making things. It never mattered the medium: pencils, paint, wood, metal, CAD, circuitry etc...I just like to make stuff.  Combined with my obsession with puzzles, math and science, I'm surprised I didn't discover coding and web development sooner.  </p>
<p class="about-p">I recently graduated from the Galvanize Full Stack Immersive program in Boulder, CO and am looking for employment in a cooperative, engaging environment where I can continue to hone my skills and use my design background to create beautiful, intuitive and beneficial apps. </p>
