<div class="slider">
  <div ng-click="nextProject()">
    <svg version="1.1" class="arrow next backward" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
    <polygon class="filler" fill="none" stroke="#000000" stroke-miterlimit="10" points="36.5,22.2 61.2,46.9 36.5,71.6 "/>
    </svg>
  </div>

  <div class="project-container swipe-animation" ng-repeat="project in projects" ng-hide="!isCurrentProjectIndex($index)" ng-swipe-right="nextProject()" ng-swipe-left="prevProject()"  >
    <h1 class="project-title">{{project.title}}</h1>
    <img class="project nonDraggableImage" src="{{project.image}}">
    <article class="description">
      <p>{{project.description}}</p>
      <h3>Technical</h3>
      <p>{{project.technical}}</p>
    </article>
  </div>

  <div ng-click="prevProject()">
    <svg version="1.1" class="arrow prev forward" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
    <polygon fill="none" stroke="#000000" stroke-miterlimit="10" points="36.5,22.2 61.2,46.9 36.5,71.6 "/>
    </svg>
  </div>
</div>

<nav class="nav-footer">
  <div class="wrapper">
      <ul class="dots">
          <li ng-repeat="project in projects">
              <div class="dot" ng-class="{'active':isCurrentProjectIndex($index), current:isCurrentProjectIndex($index)}"
                ng-click="setCurrentProjectIndex($index);"></a>
          </li>
      </ul>
  </div>
</nav>
